body {
    font-family: Arial, sans-serif;
    background-color: #676767;
}

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.inicio h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
}