body {
    background-color: rgb(255, 250, 242);
}

nav {
    background-color: black;
    text-align: center;
}

li {
    list-style: none;

}

li a {
    color: white;
    text-decoration: none;
    font-size: large;
}

nav ul li {
    display: inline-block;
    margin: 20px;
    color: white;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.texto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}
.ref {
    display: flex;
    align-items: flex-start;
}

img {
    width: 250px;
}

#titulo {
    text-align: center;
    font-size: 35px;
}

#subtitulo {
    color: red;
    text-align: center;
}

#hahaha {
    text-align: center;
    font-size: 25px;
    color: green;
}

.button1{
    font-family: poppins, sans-serif;
    perspective: 800px;
    transition: transform 0.5s ease;
    background: black;
    color: white;
}

.button1:hover{
transform: rotateY(45deg);
}