header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titulop a {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    margin-left: 299px;
}

#titulop a:hover {
    color: rgb(98, 0, 255);
    display: inline-block;
    transition: 0.3s;
    transform: scale(1.2);;
}

body {
    background-color: #000020;
}

nav ul {
    display: flex;
    gap: 20px;
    text-align: right;
    margin: 5px;
}

li a {
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    color: white;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

li a:hover {
    color: rgb(98, 0, 255);
    transform: scale(1.2);
}
.digitando {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: white;

    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid white;

    animation: 
        loop 9s steps(19, end) infinite,
        piscar 0.5s steps(1) infinite;
}
@keyframes loop {
    0% {
        width: 0;
    }
    30% {
        width: 19ch;
    }
    60% {
        width: 19ch;
    }
    100% {
        width: 0;
    }
}

@keyframes piscar {
    50% {
        border-color: transparent;
    }
}